
body {
    font-family: "Onest", sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: "Sansation", sans-serif;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#logo-bar {
    background-color: #004088;
    padding-left: 2rem;
    border-bottom: 4px solid #FBC669;
}

#nav-bar {
    display: flex;
    background-color: #004088;
}

.nav-button {
    margin: 0 1rem 0 1rem;
}

#nav-bar a {
    text-decoration: none;
}

#nav-bar a:hover {
    text-decoration: underline;
}

#nav-bar a, a:visited, a:hover, a:active {
  color: white;
}